Repository Programie/DockerImages: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-bind, build-carddav2fb, build-dovecot, build-elastic-aggregate, build-fritzbox2elastic, build-g10k, build-generic-web, build-letsencrypt, build-minecraft-bukkit-1.12.2, build-minecraft-bukkit-1.14.4, build-minecraft-bukkit-1.15.2, build-minecraft-bukkit-1.16.5, build-minecraft-player-tracker, build-nagflux, build-nginx, build-ocrmypdf-inotify, build-oscam, build-samba, build-tvheadend, build-unifi

Path conditions:
  build-bind: any of: .gitlab-ci.yml, build-image.sh, bind/**/*
  build-carddav2fb: any of: .gitlab-ci.yml, build-image.sh, carddav2fb/**/*
  build-dovecot: any of: .gitlab-ci.yml, build-image.sh, covecot/**/*
  build-elastic-aggregate: any of: .gitlab-ci.yml, build-image.sh, elastic-aggregate/**/*
  build-fritzbox2elastic: any of: .gitlab-ci.yml, build-image.sh, fritzbox2elastic/**/*
  build-g10k: any of: .gitlab-ci.yml, build-image.sh, g10k/**/*
  build-generic-web: any of: .gitlab-ci.yml, build-image.sh, generic-web/**/*
  build-letsencrypt: any of: .gitlab-ci.yml, build-image.sh, letsencrypt/**/*
  build-minecraft-bukkit-1.12.2: any of: .gitlab-ci.yml, build-image.sh, minecraft-bukkit/**/*
  build-minecraft-bukkit-1.14.4: any of: .gitlab-ci.yml, build-image.sh, minecraft-bukkit/**/*
  build-minecraft-bukkit-1.15.2: any of: .gitlab-ci.yml, build-image.sh, minecraft-bukkit/**/*
  build-minecraft-bukkit-1.16.5: any of: .gitlab-ci.yml, build-image.sh, minecraft-bukkit/**/*
  build-minecraft-player-tracker: any of: .gitlab-ci.yml, build-image.sh, minecraft-player-tracker/**/*
  build-nagflux: any of: .gitlab-ci.yml, build-image.sh, nagflux/**/*
  build-nginx: any of: .gitlab-ci.yml, build-image.sh, nginx/**/*
  build-ocrmypdf-inotify: any of: .gitlab-ci.yml, build-image.sh, ocrmypdf-inotify/**/*
  build-oscam: any of: .gitlab-ci.yml, build-image.sh, oscam/**/*
  build-samba: any of: .gitlab-ci.yml, build-image.sh, samba/**/*
  build-tvheadend: any of: .gitlab-ci.yml, build-image.sh, tvheadend/**/*
  build-unifi: any of: .gitlab-ci.yml, build-image.sh, unifi/**/*

Add ARM support for letsencrypt image
  letsencrypt/Dockerfile
Due: build-letsencrypt

Fix URL for docker-gen
  letsencrypt/Dockerfile
Due: build-letsencrypt

Update docker-gen to 0.7.7 to add support for arm64
  letsencrypt/Dockerfile
Due: build-letsencrypt

docker-gen has been moved to nginx-proxy
  letsencrypt/Dockerfile
Due: build-letsencrypt

Upgrade to Debian Bullseye
  letsencrypt/Dockerfile
Due: build-letsencrypt

Fix build-all.sh
  build-all.sh
Due: none

Remove linux/arm64/v8 due to issues with GitLab CI
  build-image.sh
Due: build-bind, build-carddav2fb, build-dovecot, build-elastic-aggregate, build-fritzbox2elastic, build-g10k, build-generic-web, build-letsencrypt, build-minecraft-bukkit-1.12.2, build-minecraft-bukkit-1.14.4, build-minecraft-bukkit-1.15.2, build-minecraft-bukkit-1.16.5, build-minecraft-player-tracker, build-nagflux, build-nginx, build-ocrmypdf-inotify, build-oscam, build-samba, build-tvheadend, build-unifi

Revert to Debian Buster as there are some issues with ARM
  letsencrypt/Dockerfile
Due: build-letsencrypt

Use Python for create-certs to make config parsing easier
  letsencrypt/Dockerfile
  letsencrypt/create-certs.py
  letsencrypt/create-certs.sh
  letsencrypt/entrypoint.sh
Due: build-letsencrypt

Add missing -d option
  letsencrypt/create-certs.py
Due: build-letsencrypt

Add --dns-rfc2136-credentials
  letsencrypt/create-certs.py
Due: build-letsencrypt

Minecraft server images are no longer used (replaced by https://hub.docker.com/r/itzg/minecraft-server)
  .gitlab-ci.yml
  build-all.sh
  minecraft-bukkit/Dockerfile
  minecraft-bukkit/docker-entrypoint.d/10-sync-files.sh
  minecraft-bukkit/eula.txt
  minecraft-forge/Dockerfile
  minecraft-forge/docker-entrypoint.d/10-sync-files.sh
  minecraft-forge/eula.txt
Due: build-bind, build-carddav2fb, build-dovecot, build-elastic-aggregate, build-fritzbox2elastic, build-g10k, build-generic-web, build-letsencrypt, build-minecraft-bukkit-1.12.2, build-minecraft-bukkit-1.14.4, build-minecraft-bukkit-1.15.2, build-minecraft-bukkit-1.16.5, build-minecraft-player-tracker, build-nagflux, build-nginx, build-ocrmypdf-inotify, build-oscam, build-samba, build-tvheadend, build-unifi

carddav2fb is no longer used as Fritz!Box has native support for CardDAV
  .gitlab-ci.yml
  carddav2fb/Dockerfile
  carddav2fb/entrypoint.sh
  carddav2fb/selfcoders-ca.crt
Due: build-bind, build-carddav2fb, build-dovecot, build-elastic-aggregate, build-fritzbox2elastic, build-g10k, build-generic-web, build-letsencrypt, build-minecraft-bukkit-1.12.2, build-minecraft-bukkit-1.14.4, build-minecraft-bukkit-1.15.2, build-minecraft-bukkit-1.16.5, build-minecraft-player-tracker, build-nagflux, build-nginx, build-ocrmypdf-inotify, build-oscam, build-samba, build-tvheadend, build-unifi

Remove multiarch build from letsencrypt as it has issues while building
  .gitlab-ci.yml
Due: build-bind, build-carddav2fb, build-dovecot, build-elastic-aggregate, build-fritzbox2elastic, build-g10k, build-generic-web, build-letsencrypt, build-minecraft-bukkit-1.12.2, build-minecraft-bukkit-1.14.4, build-minecraft-bukkit-1.15.2, build-minecraft-bukkit-1.16.5, build-minecraft-player-tracker, build-nagflux, build-nginx, build-ocrmypdf-inotify, build-oscam, build-samba, build-tvheadend, build-unifi

Remove unused rtsp image files
  rtsp-to-webrtc/Dockerfile
  rtsp-to-wsmp4f/Dockerfile
Due: none

Add optional check for uplink speed
  unifi/check_unifi.py
Due: build-unifi

Fix host and port
  unifi/check_unifi.py
Due: build-unifi

Fixed exception if AP is offline
  unifi/check_unifi.py
Due: build-unifi

Fix stupid mistake again
  unifi/check_unifi.py
Due: build-unifi

Allow to overwrite API host and port using environment variables UNIFI_API_HOST and UNIFI_API_PORT
  unifi/check_unifi.py
Due: build-unifi

Fetching picons is not used anymore as linuxserver/tvheadend already includes them (at /picons)
  tvheadend/Dockerfile
Due: build-tvheadend

Fixed error "Positional arguments can't be used with Elasticsearch API methods"
  fritzbox2elastic/write-logs.py
Due: build-fritzbox2elastic

Fixed error "Positional arguments can't be used with Elasticsearch API methods"
  elastic-aggregate/elastic-aggregate.py
Due: build-elastic-aggregate

Remove unused fetch-picons.py script
  tvheadend/fetch-picons.py
Due: build-tvheadend

push-notification.sh is no longer used
  tvheadend/Dockerfile
  tvheadend/push-notification.sh
Due: build-tvheadend

Remove builds for OSCam and Tvheadend (use Check_MK check from https://gitlab.com/Programie/CheckMKChecks instead)
  .gitlab-ci.yml
  oscam/Dockerfile
  oscam/check_oscam.py
  tvheadend/Dockerfile
  tvheadend/check_tvheadend.py
Due: build-bind, build-carddav2fb, build-dovecot, build-elastic-aggregate, build-fritzbox2elastic, build-g10k, build-generic-web, build-letsencrypt, build-minecraft-bukkit-1.12.2, build-minecraft-bukkit-1.14.4, build-minecraft-bukkit-1.15.2, build-minecraft-bukkit-1.16.5, build-minecraft-player-tracker, build-nagflux, build-nginx, build-ocrmypdf-inotify, build-oscam, build-samba, build-tvheadend, build-unifi

Remove check for minecraft-bukkit image as it no longer exists
  build-all.sh
Due: none

Fix typo in dovecot build config
  .gitlab-ci.yml
Due: build-bind, build-carddav2fb, build-dovecot, build-elastic-aggregate, build-fritzbox2elastic, build-g10k, build-generic-web, build-letsencrypt, build-minecraft-bukkit-1.12.2, build-minecraft-bukkit-1.14.4, build-minecraft-bukkit-1.15.2, build-minecraft-bukkit-1.16.5, build-minecraft-player-tracker, build-nagflux, build-nginx, build-ocrmypdf-inotify, build-oscam, build-samba, build-tvheadend, build-unifi

minecraft-player-tracker is not used anymore
  .gitlab-ci.yml
  minecraft-player-tracker/Dockerfile
  minecraft-player-tracker/player-tracker.py
Due: build-bind, build-carddav2fb, build-dovecot, build-elastic-aggregate, build-fritzbox2elastic, build-g10k, build-generic-web, build-letsencrypt, build-minecraft-bukkit-1.12.2, build-minecraft-bukkit-1.14.4, build-minecraft-bukkit-1.15.2, build-minecraft-bukkit-1.16.5, build-minecraft-player-tracker, build-nagflux, build-nginx, build-ocrmypdf-inotify, build-oscam, build-samba, build-tvheadend, build-unifi

Allow to change chunk size of bulk request (default: 1000)
  elastic-aggregate/elastic-aggregate.py
Due: build-elastic-aggregate

body parameter is deprecated
  elastic-aggregate/elastic-aggregate.py
Due: build-elastic-aggregate

Fix more deprecation warnings
  elastic-aggregate/elastic-aggregate.py
Due: build-elastic-aggregate

basic_auth parameter is deprecated
  fritzbox2elastic/write-logs.py
Due: build-fritzbox2elastic

Use PHP 8.1 for generic-web
  generic-web/Dockerfile
Due: build-generic-web

Build generic-web images for PHP 7.4 and 8.1
  .gitlab-ci.yml
  generic-web/Dockerfile
Due: build-bind, build-carddav2fb, build-dovecot, build-elastic-aggregate, build-fritzbox2elastic, build-g10k, build-generic-web, build-letsencrypt, build-minecraft-bukkit-1.12.2, build-minecraft-bukkit-1.14.4, build-minecraft-bukkit-1.15.2, build-minecraft-bukkit-1.16.5, build-minecraft-player-tracker, build-nagflux, build-nginx, build-ocrmypdf-inotify, build-oscam, build-samba, build-tvheadend, build-unifi

Allow to change uid and gid of Apache user (www-data)
  generic-web/Dockerfile
Due: build-generic-web

Fix ENV
  generic-web/Dockerfile
Due: build-generic-web

Fixed not changing uid/gid
  generic-web/Dockerfile
  generic-web/entrypoint.sh
Due: build-generic-web

Add CMD
  generic-web/Dockerfile
Due: build-generic-web

Also accept @timestamp without milliseconds
  elastic-aggregate/elastic-aggregate.py
Due: build-elastic-aggregate
