Repository Programie/DockerImages: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-bind, build-carddav2fb, build-dovecot, build-elastic-aggregate, build-fritzbox2elastic, build-g10k, build-generic-web, build-letsencrypt, build-minecraft-bukkit-1.12.2, build-minecraft-bukkit-1.14.4, build-minecraft-bukkit-1.15.2, build-nagflux, build-nginx, build-oscam, build-proftpd, build-samba, build-tvheadend, build-unifi

build-bind:
  stage: build
  script: ./build-image.sh bind

build-carddav2fb:
  stage: build
  script: ./build-image.sh carddav2fb

build-dovecot:
  stage: build
  script: ./build-image.sh dovecot

build-elastic-aggregate:
  stage: build
  script: ./build-image.sh elastic-aggregate

build-fritzbox2elastic:
  stage: build
  script: ./build-image.sh fritzbox2elastic

build-g10k:
  stage: build
  script: ./build-image.sh g10k

build-generic-web:
  stage: build
  script: ./build-image.sh generic-web

build-letsencrypt:
  stage: build
  script: ./build-image.sh letsencrypt

build-minecraft-bukkit-1.12.2:
  stage: build
  script: ./build-image.sh minecraft-bukkit 1.12.2 --build-arg MINECRAFT_VERSION=1.12.2

build-minecraft-bukkit-1.14.4:
  stage: build
  script: ./build-image.sh minecraft-bukkit 1.14.4 --build-arg MINECRAFT_VERSION=1.14.4

build-minecraft-bukkit-1.15.2:
  stage: build
  script: ./build-image.sh minecraft-bukkit 1.15.2 --build-arg MINECRAFT_VERSION=1.15.2

build-nagflux:
  stage: build
  script: ./build-image.sh nagflux

build-nginx:
  stage: build
  script: ./build-image.sh nginx

build-oscam:
  stage: build
  script: ./build-image.sh oscam

build-proftpd:
  stage: build
  script: ./build-image.sh proftpd

build-samba:
  stage: build
  script: ./build-image.sh samba

build-tvheadend:
  stage: build
  script: ./build-image.sh tvheadend

build-unifi:
  stage: build
  script: ./build-image.sh unifi

Remove image for ProFTPD
  .gitlab-ci.yml
  proftpd/Dockerfile
Due: build-proftpd

Update to Debian Buster
  bind/Dockerfile
  g10k/Dockerfile
  letsencrypt/Dockerfile
  nagflux/Dockerfile
Due: build-bind, build-g10k, build-letsencrypt, build-nagflux

"python3" package no longer installs pip
  tvheadend/Dockerfile
Due: build-tvheadend

Build minecraft-bukkit with version 1.16.1
  .gitlab-ci.yml
  build-all.sh
Due: none

Add image for minecraft-player-tracker
  .gitlab-ci.yml
  minecraft-player-tracker/Dockerfile
  minecraft-player-tracker/player-tracker.py
  rtsp-to-webrtc/Dockerfile
  rtsp-to-wsmp4f/Dockerfile
Due: none

Use Elasticsearch instead of Redis to track players
  minecraft-player-tracker/Dockerfile
  minecraft-player-tracker/player-tracker.py
Due: none

Directly log JSON to stdout to allow Filebeat to pick it up
  minecraft-player-tracker/Dockerfile
  minecraft-player-tracker/player-tracker.py
Due: none

Remove "@" prefix
  minecraft-player-tracker/player-tracker.py
Due: none

Fixed not writing JSON formatted data
  minecraft-player-tracker/player-tracker.py
Due: none

Timestamp is in milliseconds
  minecraft-player-tracker/player-tracker.py
Due: none

Format timestamp in UTC ISO format
  minecraft-player-tracker/player-tracker.py
Due: none

Add DNS RFC2136 certbot plugin
  letsencrypt/Dockerfile
Due: build-letsencrypt

Get domain name from certificate CN
  nginx/check_certs.sh
Due: build-nginx

Build image for Minecraft Server 1.16.2
  build-all.sh
Due: none

Also start build jobs if build-all.sh changes
  .gitlab-ci.yml
Due: none

Fix filename for .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Revert "Also start build jobs if build-all.sh changes"
  .gitlab-ci.yml
Due: none

Build image for Minecraft Server 1.16.2
  .gitlab-ci.yml
Due: none

Build image for Minecraft 1.16.3 (Bukkit)
  .gitlab-ci.yml
  build-all.sh
Due: none

Add support for Elasticsearch authentication
  fritzbox2elastic/write-logs.py
Due: build-fritzbox2elastic

Fix http auth parameter
  fritzbox2elastic/write-logs.py
Due: build-fritzbox2elastic

Add support for Elasticsearch authentication
  elastic-aggregate/elastic-aggregate.py
Due: build-elastic-aggregate

Add Dockerimage for ocrmypdf with incron/inotify
  ocrmypdf-inotify/Dockerfile
  ocrmypdf-inotify/ocrmypdf-inotify-helper.sh
Due: none

Add build job for ocrmypdf-inotify
  .gitlab-ci.yml
Due: none

Fix output
  ocrmypdf-inotify/ocrmypdf-inotify-helper.sh
Due: none

Update Minecraft Bukkit to 1.16.4
  .gitlab-ci.yml
  build-all.sh
Due: none

Fixed not working filenames with spaces
  ocrmypdf-inotify/ocrmypdf-inotify-helper.sh
Due: none

Use inotifywait instead of incron
  ocrmypdf-inotify/Dockerfile
  ocrmypdf-inotify/entrypoint.sh
  ocrmypdf-inotify/ocrmypdf-inotify-helper.sh
Due: none

Allow to specify event type using "INOTIFY_EVENT" environment variable (defaults to "close_write")
  ocrmypdf-inotify/entrypoint.sh
Due: none

Use PHP 7.4 instead of 8.0
  generic-web/Dockerfile
Due: build-generic-web

Build Minecraft Bukkit image for Minecraft 1.16.5
  .gitlab-ci.yml
  build-all.sh
Due: none

Catch exception if something went wrong with a single AP
  unifi/check_unifi.py
Due: build-unifi

Use "&&" instead of ";" to catch errors
  carddav2fb/Dockerfile
  ocrmypdf-inotify/Dockerfile
Due: build-carddav2fb

Use Debian Bullseye for Samba image to get newer Samba version
  samba/Dockerfile
Due: build-samba

Use buildx to allow building multiarch images
  build-image.sh
Due: build-bind, build-carddav2fb, build-dovecot, build-elastic-aggregate, build-fritzbox2elastic, build-g10k, build-generic-web, build-letsencrypt, build-minecraft-bukkit-1.12.2, build-minecraft-bukkit-1.14.4, build-minecraft-bukkit-1.15.2, build-nagflux, build-nginx, build-oscam, build-proftpd, build-samba, build-tvheadend, build-unifi

Fix image
  .gitlab-ci.yml
Due: none

Create build context as required by buildx
  build-image.sh
Due: build-bind, build-carddav2fb, build-dovecot, build-elastic-aggregate, build-fritzbox2elastic, build-g10k, build-generic-web, build-letsencrypt, build-minecraft-bukkit-1.12.2, build-minecraft-bukkit-1.14.4, build-minecraft-bukkit-1.15.2, build-nagflux, build-nginx, build-oscam, build-proftpd, build-samba, build-tvheadend, build-unifi

Fixed additional arguments for build
  .gitlab-ci.yml
  build-image.sh
Due: build-bind, build-carddav2fb, build-dovecot, build-elastic-aggregate, build-fritzbox2elastic, build-g10k, build-generic-web, build-letsencrypt, build-minecraft-bukkit-1.12.2, build-minecraft-bukkit-1.14.4, build-minecraft-bukkit-1.15.2, build-nagflux, build-nginx, build-oscam, build-proftpd, build-samba, build-tvheadend, build-unifi

Try to build nginx image with multiarch support
  .gitlab-ci.yml
Due: none

Build letsencrypt image with multiarch support
  .gitlab-ci.yml
Due: none

Path conditions:
  build-bind: any of: gitlab-ci.yml, build-image.sh, bind/**/*
  build-carddav2fb: any of: gitlab-ci.yml, build-image.sh, carddav2fb/**/*
  build-dovecot: any of: gitlab-ci.yml, build-image.sh, covecot/**/*
  build-elastic-aggregate: any of: gitlab-ci.yml, build-image.sh, elastic-aggregate/**/*
  build-fritzbox2elastic: any of: gitlab-ci.yml, build-image.sh, fritzbox2elastic/**/*
  build-g10k: any of: gitlab-ci.yml, build-image.sh, g10k/**/*
  build-generic-web: any of: gitlab-ci.yml, build-image.sh, generic-web/**/*
  build-letsencrypt: any of: gitlab-ci.yml, build-image.sh, letsencrypt/**/*
  build-minecraft-bukkit-1.12.2: any of: gitlab-ci.yml, build-image.sh, minecraft-bukkit/**/*
  build-minecraft-bukkit-1.14.4: any of: gitlab-ci.yml, build-image.sh, minecraft-bukkit/**/*
  build-minecraft-bukkit-1.15.2: any of: gitlab-ci.yml, build-image.sh, minecraft-bukkit/**/*
  build-nagflux: any of: gitlab-ci.yml, build-image.sh, nagflux/**/*
  build-nginx: any of: gitlab-ci.yml, build-image.sh, nginx/**/*
  build-oscam: any of: gitlab-ci.yml, build-image.sh, oscam/**/*
  build-proftpd: any of: gitlab-ci.yml, build-image.sh, proftpd/**/*
  build-samba: any of: gitlab-ci.yml, build-image.sh, samba/**/*
  build-tvheadend: any of: gitlab-ci.yml, build-image.sh, tvheadend/**/*
  build-unifi: any of: gitlab-ci.yml, build-image.sh, unifi/**/*
