Repository Programie/DockerImages: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-bind, build-dovecot, build-elastic-aggregate, build-fritzbox2elastic, build-g10k, build-generic-web, build-letsencrypt, build-nagflux, build-nginx, build-ocrmypdf-inotify, build-samba, build-unifi

build-bind:
  stage: build
  script: ./build-image.sh bind

build-dovecot:
  stage: build
  script: ./build-image.sh dovecot

build-elastic-aggregate:
  stage: build
  script: ./build-image.sh elastic-aggregate

build-fritzbox2elastic:
  stage: build
  script: ./build-image.sh fritzbox2elastic

build-g10k:
  stage: build
  script: ./build-image.sh g10k

build-generic-web:
  stage: build
  script: ./build-image.sh generic-web

build-letsencrypt:
  stage: build
  script: ./build-image.sh letsencrypt

build-nagflux:
  stage: build
  script: ./build-image.sh nagflux

build-nginx:
  stage: build
  script: ./build-image.sh nginx latest multiarch

build-ocrmypdf-inotify:
  stage: build
  script: ./build-image.sh ocrmypdf-inotify

build-samba:
  stage: build
  script: ./build-image.sh samba

build-unifi:
  stage: build
  script: ./build-image.sh unifi

Add org.opencontainers.image.version label to g10k, generic-web and nagflux images
  g10k/Dockerfile
  generic-web/Dockerfile
  nagflux/Dockerfile
Due: build-g10k, build-generic-web, build-nagflux

Update g10k to version 0.9.3
  g10k/Dockerfile
  g10k/g10k.yaml
Due: build-g10k

Add image for ffmpeg
  .gitlab-ci.yml
  ffmpeg/Dockerfile
  ffmpeg/record-stream.sh
Due: build-bind, build-dovecot, build-elastic-aggregate, build-fritzbox2elastic, build-g10k, build-generic-web, build-letsencrypt, build-nagflux, build-nginx, build-ocrmypdf-inotify, build-samba, build-unifi

Do not run ffmpeg as root
  ffmpeg/Dockerfile
  ffmpeg/entrypoint.sh
Due: none

Do not create user but directly pass uid/gid to gosu
  ffmpeg/Dockerfile
  ffmpeg/entrypoint.sh
Due: none

Segment recorded stream at clock time (i.e. at xx:00 and xx:30 instead of every 30 minutes)
  ffmpeg/record-stream.sh
Due: none

Hide ffmpeg banner and set loglevel to info
  ffmpeg/record-stream.sh
Due: none

Include timezone in filename to fix issues while DST switch
  ffmpeg/record-stream.sh
Due: none

Use MKV instead of MP4 (more robust, better seeking)
  ffmpeg/record-stream.sh
Due: none

Remove unifi image, use "jacobalberty/unifi" or migrate to "linuxserver/unifi-controller"
  .gitlab-ci.yml
  unifi/Dockerfile
  unifi/check_unifi.py
  unifi/entrypoint.sh
Due: build-bind, build-dovecot, build-elastic-aggregate, build-fritzbox2elastic, build-g10k, build-generic-web, build-letsencrypt, build-nagflux, build-nginx, build-ocrmypdf-inotify, build-samba, build-unifi

Remove nginx image, migrate to official nginx image
  .gitlab-ci.yml
  nginx/Dockerfile
  nginx/check_certs.sh
  nginx/dhparam.pem
  nginx/nginx.conf
Due: build-bind, build-dovecot, build-elastic-aggregate, build-fritzbox2elastic, build-g10k, build-generic-web, build-letsencrypt, build-nagflux, build-nginx, build-ocrmypdf-inotify, build-samba, build-unifi

Remove letsencrypt image
  .gitlab-ci.yml
  letsencrypt/Dockerfile
  letsencrypt/create-certs.py
  letsencrypt/create-certs.tmpl
  letsencrypt/entrypoint.sh
  letsencrypt/renew-certs.sh
  letsencrypt/restart-container.sh
Due: build-bind, build-dovecot, build-elastic-aggregate, build-fritzbox2elastic, build-g10k, build-generic-web, build-letsencrypt, build-nagflux, build-nginx, build-ocrmypdf-inotify, build-samba, build-unifi

Install sockets module
  generic-web/Dockerfile
Due: build-generic-web

Add Docker image for hugo-obsidian
  .gitlab-ci.yml
  hugo-obsidian/Dockerfile
  hugo-obsidian/build.sh
Due: build-bind, build-dovecot, build-elastic-aggregate, build-fritzbox2elastic, build-g10k, build-generic-web, build-letsencrypt, build-nagflux, build-nginx, build-ocrmypdf-inotify, build-samba, build-unifi

Install extended edition of hugo
  hugo-obsidian/Dockerfile
Due: none

Ensure /workspace/content is empty before cloning from git
  hugo-obsidian/build.sh
Due: none

Decrease hugo-obsidian image size by using multistage build
  hugo-obsidian/Dockerfile
Due: none

Add readme
  README.md
Due: none

Try parallel matrix build
  .gitlab-ci.yml
Due: build-bind, build-dovecot, build-elastic-aggregate, build-fritzbox2elastic, build-g10k, build-generic-web, build-letsencrypt, build-nagflux, build-nginx, build-ocrmypdf-inotify, build-samba, build-unifi

Use matrix build for generic-web images
  .gitlab-ci.yml
Due: build-bind, build-dovecot, build-elastic-aggregate, build-fritzbox2elastic, build-g10k, build-generic-web, build-letsencrypt, build-nagflux, build-nginx, build-ocrmypdf-inotify, build-samba, build-unifi

Use standard docker-in-docker image
  .gitlab-ci.yml
  build-image.sh
Due: build-bind, build-dovecot, build-elastic-aggregate, build-fritzbox2elastic, build-g10k, build-generic-web, build-letsencrypt, build-nagflux, build-nginx, build-ocrmypdf-inotify, build-samba, build-unifi

Remove multiarch as it is not used anymore
  .gitlab-ci.yml
  build-image.sh
Due: build-bind, build-dovecot, build-elastic-aggregate, build-fritzbox2elastic, build-g10k, build-generic-web, build-letsencrypt, build-nagflux, build-nginx, build-ocrmypdf-inotify, build-samba, build-unifi

Fix docker build
  build-image.sh
Due: build-bind, build-dovecot, build-elastic-aggregate, build-fritzbox2elastic, build-g10k, build-generic-web, build-letsencrypt, build-nagflux, build-nginx, build-ocrmypdf-inotify, build-samba, build-unifi

Add bash to hugo-obsidian
  hugo-obsidian/Dockerfile
Due: none

Move image folder to subfolder "images"
  .gitlab-ci.yml
  build-all.sh
  build-image.sh
  images/bind/Dockerfile
  images/dovecot/Dockerfile
  images/elastic-aggregate/Dockerfile
  images/elastic-aggregate/elastic-aggregate.py
  images/ffmpeg/Dockerfile
  images/ffmpeg/entrypoint.sh
  images/ffmpeg/record-stream.sh
  images/fritzbox2elastic/Dockerfile
  images/fritzbox2elastic/write-logs.py
  images/g10k/Dockerfile
  images/g10k/entrypoint.sh
  images/g10k/g10k.yaml
  images/generic-web/Dockerfile
  images/generic-web/entrypoint.sh
  images/hugo-obsidian/Dockerfile
  images/hugo-obsidian/build.sh
  images/nagflux/Dockerfile
  images/ocrmypdf-inotify/Dockerfile
  images/ocrmypdf-inotify/entrypoint.sh
  images/ocrmypdf-inotify/ocrmypdf-inotify-helper.sh
  images/samba/Dockerfile
  images/samba/entrypoint.sh
Due: build-bind, build-dovecot, build-elastic-aggregate, build-fritzbox2elastic, build-g10k, build-generic-web, build-letsencrypt, build-nagflux, build-nginx, build-ocrmypdf-inotify, build-samba, build-unifi

Update g10k to version 0.9.7, use Puppet 7 and Debian Bullseye
  images/g10k/Dockerfile
Due: none

Try to use rules.changes
  .gitlab-ci.yml
Due: build-bind, build-dovecot, build-elastic-aggregate, build-fritzbox2elastic, build-g10k, build-generic-web, build-letsencrypt, build-nagflux, build-nginx, build-ocrmypdf-inotify, build-samba, build-unifi

test commit
  images/g10k/Dockerfile
Due: none

Try different matrix variable structure
  .gitlab-ci.yml
Due: build-bind, build-dovecot, build-elastic-aggregate, build-fritzbox2elastic, build-g10k, build-generic-web, build-letsencrypt, build-nagflux, build-nginx, build-ocrmypdf-inotify, build-samba, build-unifi

Revert "test commit"
  images/g10k/Dockerfile
Due: none

Allow to manually trigger a single job using $TRIGGER_JOB
  .gitlab-ci.yml
Due: build-bind, build-dovecot, build-elastic-aggregate, build-fritzbox2elastic, build-g10k, build-generic-web, build-letsencrypt, build-nagflux, build-nginx, build-ocrmypdf-inotify, build-samba, build-unifi

Fix check for $TRIGGER_JOB
  .gitlab-ci.yml
Due: build-bind, build-dovecot, build-elastic-aggregate, build-fritzbox2elastic, build-g10k, build-generic-web, build-letsencrypt, build-nagflux, build-nginx, build-ocrmypdf-inotify, build-samba, build-unifi

Fix hugo-obsidian image
  images/hugo-obsidian/Dockerfile
Due: none

Install Composer in generic-web images
  images/generic-web/Dockerfile
Due: none

Install intl extension
  images/generic-web/Dockerfile
Due: none

Install git (required by Composer)
  images/generic-web/Dockerfile
Due: none

Allow to change filename format
  images/ffmpeg/record-stream.sh
Due: none

Allow to pass additional ffmpeg options using FFMPEG_OPTIONS
  images/ffmpeg/record-stream.sh
Due: none

Path conditions:
  build-bind: any of: .gitlab-ci.yml, build-image.sh, bind/**/*
  build-dovecot: any of: .gitlab-ci.yml, build-image.sh, dovecot/**/*
  build-elastic-aggregate: any of: .gitlab-ci.yml, build-image.sh, elastic-aggregate/**/*
  build-fritzbox2elastic: any of: .gitlab-ci.yml, build-image.sh, fritzbox2elastic/**/*
  build-g10k: any of: .gitlab-ci.yml, build-image.sh, g10k/**/*
  build-generic-web: any of: .gitlab-ci.yml, build-image.sh, generic-web/**/*
  build-letsencrypt: any of: .gitlab-ci.yml, build-image.sh, letsencrypt/**/*
  build-nagflux: any of: .gitlab-ci.yml, build-image.sh, nagflux/**/*
  build-nginx: any of: .gitlab-ci.yml, build-image.sh, nginx/**/*
  build-ocrmypdf-inotify: any of: .gitlab-ci.yml, build-image.sh, ocrmypdf-inotify/**/*
  build-samba: any of: .gitlab-ci.yml, build-image.sh, samba/**/*
  build-unifi: any of: .gitlab-ci.yml, build-image.sh, unifi/**/*
